.section-for {
    display: flex;
    justify-content: center;
    margin: 10px 0 156px 0;
}

.content-for {
    width: 700px;
    padding: 30px 20px;
    background-color: #56B3CE;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    h2{
        color: white;
    }
    h4 {
        margin: 0;
        color: #193054;
    }
    p {
        margin: 10px 0 0 0;
        color: #193054;
    }
}

::ng-deep {
.content-for{
    .p-button {
        margin-top: 20px;
        border-radius: 15px;
        background-color: white;
        color: #193054;
        border: none;
    }
}
}