<!-- <section class="head"></section>
<section class="body"></section>
<section class="foot"></section> -->



<p-menubar class="border-none" [model]="items">
  <ng-template pTemplate="end">
      <img src="assets/img/LOGO TRANS.png" height="30" class="mr-2" />
    </ng-template>

</p-menubar>

    <div class="banner">
        <img src="assets/img/banner-maru.png"/>
    </div>
    <div class="h-full">
    <router-outlet></router-outlet>
    </div>

    <footer>
        <p>Derechos de autor © 2023 Tienda Virtual</p>
    </footer>

